body, header, h1{
  margin: 0px;
}
header{
   background-color: #0a2a66;
   color: white;
   height: 62px;
   text-align: center;
   width: 100%;
   margin: inherit;
}
header a{
  text-align: left;
}
h1, a{
  display: inline;
}